*.o
*.in
*Makefile
src/.deps/*
*config*
INSTALL
aclocal.m4
autom4te.cache/
depcomp
install-sh
missing
src/rtx-comp
src/rtx-proc
src/trx-comp
src/rtx-decomp
stamp-h1
*.comp
*.bin
*.decomp
tests/run_tests.py
