*.o
*.in
*.pc
*Makefile
src/.deps/*
configure
config.*
src/auto_config.h*
INSTALL
aclocal.m4
autom4te.cache/
depcomp
install-sh
missing
src/rtx-comp
src/rtx-proc
src/rtx-decomp
src/random-path
src/apertium-validate-trx
stamp-h1
*.bin
*.decomp
tests/run_tests.py
rtx_config.h
*~
src/__pycache__/*
